body{
    background-color: white;
}

#menu{
    background-color: #b81824;
    width: 100%;
    height: 100%;
    border: 0px;
    border-radius: 15px;    
}

#botaocursos{
    height: 35vh;
    width: 40vh;
    margin-left: 5vh;
    margin-top: 1%;
    border-radius: 5%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

#botaocursos:hover{
    transform: scale(1.1);
    transition: 200ms linear;
    cursor: pointer;
}

h1{
    text-align: center;
    margin-top: 1%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 1%;
}

#logo{
    margin: auto;
    display: block;
    height: 15vh;
    width: 15vh;
    margin-top: 5%;
}

#barrapesquisa{
    margin: auto;
    display: block;
    background-color: rgb(238, 236, 236);
    width: 500px;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 1%;
    cursor: pointer;
}

#user{
    height: 10vh;
    width: 10vh;
    background-repeat: no-repeat;
    border: 0px;
    background-size: contain;
    position: absolute;
    bottom: 80%;
    background-color: white;
    left: 1%;
}

#user:hover{
    transform: scale(1.1);
    transition: 200ms linear;
    cursor: pointer;
}


a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #b81824;
    height: 9vh ;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

.mobile-menu {
    cursor: pointer;
    display: none;
}

@media (max-width: 999px){
    body{
        overflow-x: hidden;
    }
    
    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #b81824;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu{
        display: block;
    }
}
.nav-list.activate {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from{
        opacity:0;
        transform: translateX(0);
    }
    to{
        opacity:1;
        transform:translateX(0);
    }
}

.mobile-menu.activate .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.activate .line2{
    opacity: 0;
}

.mobile-menu.activate .line3{
    transform: rotate(45deg) translate(-5px, -7px);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
}