body {
    background-color: #b81824;
}

#entrada{
    position: absolute;
    left: 33%;
    height: 928px;
    width: 684px;
    background-color: white;
    border-radius: 100px;
}

#inputmatricula{
    position: absolute;
    top:38%;
    left: 5%;
    width: 579px;
    height: 60px;
    background-color: rgb(189, 186, 186);
    border: 0px;
    border-radius: 10px;
}

#text1{
    position: absolute;
    top: 30%;
    left: 7%;
    font-family: Verdana;
    font-size: 30px;
    font-style: italic;
}

#img1{
    margin: auto;
    display: block;
    margin-top: 30px;
    height: 250px;
    width: 250px;
}

#senha{
    position: absolute;
    top: 50%;
    left: 7%;
    font-family: verdana;
    font-style: italic;
    font-size: 30px;
}

#inputsenha{
    position: absolute;
    top: 58%;
    left: 5%;
    width: 579px;
    height: 60px;
    border-radius: 10px;
    border: 0px;
    background-color: rgb(189, 186, 186);
    
}

#botlogin{
    margin: auto;
    display: block;
    margin-top: 65%;
    width: 187px;
    height: 79px;
    background-color: #b81824;
    color: white;
    border-radius: 100px;
    font-size: 30px;
    font-style:italic;
    border: 0px;
    box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.342);


}

#botlogin:hover{
    margin: auto;
    display: block;
    margin-top: 65%;
    width: 187px;
    height: 79px;
    background-color: white;
    color: #b81824;
    border-radius: 100px;
    font-size: 30px;
    font-style:italic;
    border: 0px;
}

#admin{
    margin-top: 5%;
    text-align: center;
    color: #b81824;
    font-size: 20px;
    font-family: Verdana;
    text-decoration: none;
}
#admin:hover{
    margin-top: 5%;
    text-align: center;
    color: #3b18b8;
    font-size: 20px;
    font-family: Verdana;
    text-decoration: none;
}

.container{
    width: 80%;
    font-size: 1em;
    padding: 2%;
}

@media (max-width: 768px) {
    .container{
        width: 100%;
        font-size: 0.9em;
        padding: 1%;
    }
    img{
        max-width: 100%;
        height:auto
    }
}
